.system-status {
  margin-bottom: 18px;
}

.system-status-title {
  font-size: 26px;
}

.bold {
  font-weight: 800;
}

.status-online {
  font-weight: 800;
  color: #1ea45a;
}

.status-offline {
  font-weight: 800;
  color: #d9534f;
}
