.system-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.system-status-title {
  font-size: 26px;
}

.bold {
  font-weight: 800;
}

.status-online {
  font-weight: 800;
  color: #1ea45a;
}

.status-offline {
  font-weight: 800;
  color: #d9534f;
}

.system-status-legend {
  display: flex;
  gap: 18px;
  align-items: center;
}

.legend-item {
  display: flex;
  gap: 8px;
  align-items: center;
  font-weight: 600;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 999px;
  border: 2px solid #000;
}

.dot-online {
  background: #1ea45a;
}

.dot-offline {
  background: #d9534f;
}
