html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}

.app-shell {
  min-height: 100vh;
}


.main {
  margin-left: 275px;               /* navbar width */
  width: calc(100% - 275px);
  min-height: 100vh;
}
